.btn {
  padding: 16px 22px;

  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6%;

  border-radius: 20px;
  border: none;

  cursor: pointer;
}

.light {
  background: var(--bcg-color-primary-light);
  color: var(--primary-color-dark);
}

.dark {
  background: var(--bcg-color-primary-dark);
  color: var(--primary-color-light);

  border: 1px solid var(--primary-color-light);
}
