.section {
  padding: 40px 0;
  text-align: center;
  /* background-image: linear-gradient(
      180deg,
      rgba(183, 214, 239, 0.83) 32.29%,
      #b7d6ef 59.9%,
      rgba(183, 214, 239, 0) 100%
    ),
    url("../../../public/mobile/sea.png");
  background-position: center;
  background-size: cover; */
  animation: slide 30s linear infinite 1s;
}

.container {
  padding: 0 10px;
}

.title {
  color: #434364;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 111.111% */
}

.descTitle {
  color: #434364;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 30px;
}

.desc {
  color: #434364;
  text-align: center;
  text-shadow: 0px 0px 80px #fff;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}

@keyframes slide {
  0%,
  10% {
    background-image: url("../../../public/mobile/sea.png"),
      linear-gradient(
        180deg,
        rgba(183, 214, 239, 0.83) 32.29%,
        #b7d6ef 59.9%,
        rgba(183, 214, 239, 0) 100%
      );
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }
  20%,
  30% {
    background-image: url("../../../public/tablet/home.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  40%,
  50% {
    background-image: linear-gradient(
        180deg,
        #8ea1bd 50.52%,
        #8ea1bd 77.29%,
        rgba(142, 161, 189, 0) 100%
      ),
      url("../../../public/mobile/plane.jpg");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }
  60%,
  70%,
  80% {
    background-image: url("../../../public/tablet/family.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  90%,
  100% {
    background-image: url("../../../public/mobile/sea.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
